<ul class="question-box">
  <%= link_to question_path(question, question_show_params: params) do %>
    <li>
      <% if question.solution == 0 %>
        <div class="solution solution-red">
          未回答
        </div>
      <% elsif question.solution == 1 %>
        <div class="solution solution-orange">
          未解決
        </div>
      <% else %>
        <div class="solution solution-green">
          解決済み
        </div>
      <% end %>
    </li>
    <li class="question-name hover-underline"><%= question.name %></li>
    <div class="flex">
      <li>
        <% if question.user.image.attached? %>
          <%= image_tag question.user.image.variant(resize: '35x35!'), class: "user-icon", alt: "ユーザーアイコン" %>
        <% else %>
          <%= image_tag src='70b3dd52350bf605f1bb4078ef79c9b9.png', class: "user-icon-default", alt: "ユーザーアイコン" %>
        <% end %>
      </li>
      <li class="question-user-name"><%= question.user.name %></li>
      <li class="question-time"><%= question.updated_at.to_s(:datetime_jp) %></li>
    </div>
  <% end %>
</ul>
