<div class="question-box answer-textarea-box">
  <%= form_with model: answer, url: answers_path, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.text_area :content, placeholder: "回答を入力してください", class: "resize10" %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :question_id, value: question.id %>
    <%= f.submit '回答する', class: "submit-button" %>
  <% end %>
</div>
