<%= provide(:title, "#{@school.name}の質問一覧") %>
<div class="question-index background-blue">
  <%= render partial: 'question_index_page_link', locals: { params: @params, school: @school } %>
  <%= render 'shared/flash_message' %>
  <%= render partial: 'shared/school_header', locals: { school: @school } %>
  <section class="question-index-field">
    <div class="question-index-button">
      <%= link_to '質問する', new_question_path(school_id: @school.id, question_new_params: @params), class: "button" %>
    </div>
    <div class="question-content">
      <div class="review-and-question-link">
        <%= link_to "口コミ一覧", school_path(@school) %>
        <%= link_to "質問一覧", "#" %>
      </div>
      <h2><%= @school.name %>の質問</h2>
      <div class="question-box-flex">
        <%= render partial: 'question_index_question_box', locals: { params: @params }, collection: @questions, as: :question %>
      </div>
      <%= link_to '質問する', new_question_path(school_id: @school.id, question_new_params: @params), class: "button" %>
    </div>
  </section>
</div>
