<div class="question-new background-blue">
  <div class="review-box">
    <div class="review-box-content">
      <h2>質問投稿</h2>
      <%= form_with model: @question, local: true do |f| %>

        <div class="review-content-border">
          <ul class="flex ul-icon">
            <li class="question-user-icon"><%= image_tag src='70b3dd52350bf605f1bb4078ef79c9b9.png', class: "user-icon", alt: "ユーザーアイコン" %></li>
            <li class="question-school-name"><%= current_user.name %></li>
          </ul>
          <%= f.hidden_field :user_id, value: current_user.id %>
        </div>

        <div class="review-content-border">
          <ul class="flex">
            <li><%= f.label :school_id, "スクール名" %></li>
            <li class="review-name-label"><%= f.collection_select(:school_id, School.all, :id, :name, include_blank: '選択してください') %></li>
          </ul>
        </div>

        <div class="review-content-border">
          <ul>
            <li><%= f.label :name, "質問タイトル" %></li>
            <li><%= f.text_field :name, placeholder: "質問のタイトルを記入してください" %></li>
          </ul>
        </div>

        <div>
          <ul>
            <li><%= f.label :content, "質問内容" %></li>
            <li><%= f.text_area :content, placeholder: "質問を記入してください" %></li>
          </ul>
        </div>

        <div class="review-button">
          <%= f.submit '投稿する', class: "submit-button" %>
          <%= link_to "戻る", :back, class: "button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
