<div class="question-show background-blue">
  <div class="header-image">
    <div class="header-image-box">
      <h2>質問&回答</h2>
    </div>
  </div>
  <div class="question-content">
    <ul class="question-box">
      <div class="flex">
        <li>
          <%= link_to user_path(@question.user) do %>
            <%= image_tag src='70b3dd52350bf605f1bb4078ef79c9b9.png', class: "user-icon", alt: "ユーザーアイコン" %>
          <% end %>
        </li>
        <li class="question-user-name"><%= link_to @question.user.name, user_path(@question.user) %></li>
      </div>
      <li class="question-name"><%= @question.name %></li>
      <li class="review-show-text question-show-text"><%= @question.content %></li>
      <li class="question-time"><%= @question.updated_at.to_s(:datetime_jp) %></li>
      <% if user_signed_in? && (current_user == @question.user) %>
        <%= link_to "編集する", edit_question_path(@question), class: "edit-button" %>
        <%= link_to "削除する", question_path(@question), method: :delete, data: {confirm: "質問を削除しますか？"}, class: "edit-button" %>
      <% end %>
    </ul>
    <span class="rotateY180">&#8629;</span>
    <span>回答</span>
    <% @answers.each do |answer|%>
      <div class="review-show-text question-show-text"><%= answer.content %></div>
    <% end %>

    <% if user_signed_in? %>
      <%= form_with model: @answer, url: answers_path, local: true do |f| %>
        <%= f.label :content, "回答欄" %>
        <%= f.text_area :content, placeholder: "回答を記入してください" %>

        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :question_id, value: @question.id %>

        <%= f.submit '回答する', class: "submit-button" %>
      <% end %>
    <% end %>
  </div>
</div>
