<div class="one-notification-box">
  <% if notification.action == "like" %>
    <div class="one-notification-box-flex">
      <%= link_to user_path(notification.visiter) do %>
        <% if notification.visiter.image.attached? %>
          <%= image_tag notification.visiter.image.variant(resize: '40x40!'), class: "user-icon", alt: "ユーザーアイコン" %>
        <% else %>
          <%= image_tag src='70b3dd52350bf605f1bb4078ef79c9b9.png', class: "user-icon-default", alt: "ユーザーアイコン" %>
        <% end %>
      <% end %>
      <div class="notification-title">
        <%= link_to notification.visiter.name, user_path(notification.visiter), class: "notification-link" %>が
        <%= link_to 'あなたの口コミ', review_path(notification.review), class: "notification-link" %>にいいねしました。
        <%= "(#{notification.how_long_ago})" %>
      </div>
      <%= link_to "削除", notification_path(notification), method: :delete, data: {confirm: "この通知を削除しますか？"}, class: "notification-like-delete" %>
    </div>
    <p class="notification-content"><%= notification.review.name %></p>
  <% elsif notification.action == "answer" %>
    <div class="one-notification-box-flex">
      <%= link_to user_path(notification.visiter) do %>
        <% if notification.visiter.image.attached? %>
          <%= image_tag notification.visiter.image.variant(resize: '40x40!'), class: "user-icon", alt: "ユーザーアイコン" %>
        <% else %>
          <%= image_tag src='70b3dd52350bf605f1bb4078ef79c9b9.png', class: "user-icon-default", alt: "ユーザーアイコン" %>
        <% end %>
      <% end %>
      <div class="notification-title">
        <%= link_to notification.visiter.name, user_path(notification.visiter), class: "notification-link" %>が
        <%= link_to 'あなたの質問', question_path(notification.question), class: "notification-link" %>に回答しました。
        <%= "(#{notification.how_long_ago})" %>
      </div>
      <%= link_to "削除", notification_path(notification), method: :delete, data: {confirm: "この通知を削除しますか？"}, class: "notification-answer-delete" %>
    </div>
    <%= simple_format(notification.answer.content.truncate(20), class: "notification-content") %>
  <% end %>
</div>
