<%= provide(:title, "通知一覧")%>
<%= render 'shared/flash_message' %>
<div class="notification-index">
  <div class="all-notification-box">
    <h2>通知</h2>
    <% if @notifications.exists? %>
      <%= link_to destroy_all_notification_path(user_id: @notifications.first.visited.id), method: :delete, data: {confirm: "通知を全て削除しますか？"}, class: "all-notifications-delete" do %>
        <i class="fa fa-trash" aria-hidden="true"></i>全削除
      <% end %>
      <div>
        <%= render partial: 'notifications/notification_index_notification_box', collection: @notifications, as: :notification %>
      </div>
    <% else %>
      <p class="not-notification">通知はありません</p>
    <% end %>
    <% unless (will_paginate @notifications).nil? %>
      <div class="paginate">
        <%= will_paginate @notifications, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
      </div>
    <% end %>
  </div>
</div>
