<%= provide(:title, "プログラミングスクール検索結果") %>
<div class="background-blue">
  <%= render 'result_page_link' %>
  <%= render 'shared/flash_message' %>
  <div class="school-search-box-apper-hidden weak-hidden button search-result-button">
    <i class="fa fa-plus school-search-plus" aria-hidden="true"></i>
    <i class="fa fa-minus weak-hidden school-search-minus" aria-hidden="true"></i>
    絞り込み検索
  </div>
  <div class="search-result flex add-padding">
    <%= render partial: 'result_school_search_box', locals: { q: @q, school_style: @school_style, school_support: @school_support, school_guarantee: @school_guarantee } %>
    <%= render partial: 'result_school_content', locals: { schools: @schools, q: @q } %>
  </div>
</div>
