<% @schools.each do |school| %>
  <p>
    <%= school.name %>
    <%= school.style %>
    <%= school.support %>
    <%= school.guarantee %>
    <%= school.feature %>
    <%= school.prefecture.name %>
    <%= school.language.name %>
    <%= school.cost.range %>
    <%= school.period.range %>

  </p>
<% end %>
<%= link_to "登録", new_school_path %>
