<div class="background-blue">
  <div class="search-result">
    <div class="school-table-frame">
      < <%= link_to '検索画面に戻る', root_path, class: "link-underline" %>

      <h2>検索結果 : <%= @schools.count %>件</h2>


      <%= sort_link(@q, :review_ave_score, "口コミ評価順") %>
      |
      <%= sort_link(@q, :review_count, "口コミ数順") %>

      <table>
        <tr class="school-table-head">
          <th class="school-table-number"></th>
          <th class="school-table-name">スクール名</th>
          <th class="school-table-score">口コミ評価</th>
          <th class="school-table-count">口コミ数</th>
        </tr>

        <% @schools.each.with_index(1) do |school, i| %>
          <tr>
            <td class="school-table-number">
              <% if (params[:page]).nil? %>
                <%= i %>
              <% else %>
                <%= (params[:page].to_i - 1) * 30 + i %>
              <% end %>
            </td>
            <td><%= link_to school.name, school_path(school)  %></td>

            <% if school.review_ave_score == nil %>
              <td>なし</td>
            <% else %>
              <td><%= school.review_ave_score %>点</td>
            <% end %>

            <% if school.review_count == nil %>
              <td>0</td>
            <% else %>
              <td><%= school.review_count %></td>
            <% end %>
          </tr>
        <% end %>
      </table>

      <% unless (will_paginate @schools).nil? %>
        <div class="paginate">
          <%= will_paginate @schools, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
        </div>
      <% end %>
      < <%= link_to '検索画面に戻る', root_path, class: "link-underline" %>
    </div>
  </div>
</div>
