<%= provide(:title, "#{@school.name}の情報の変更") %>
<div class="school-edit background-blue">
  <%= render partial: 'school_edit_page_link', locals: { params: @params, school: @school } %>
  <%= render 'shared/flash_message' %>
  <div class="school-search-box">
    <h2><%= @school.name %>の情報の変更</h2>
    <%= render partial: 'school_edit_school_form', locals: { school: @school } %>
    <%= link_to "戻る", school_path(@school), class: "button" %>
  </div>
</div>
