<div class="background-blue">
  <div class="page-link">
    <ul>
      <li><%= link_to 'スクール一覧', "#", class: "link-underline" %></li>
    </ul>
  </div>
  <div class="school-index">
    <%= link_to "スクール追加", new_school_path, class: "button" %>
    <div class="school-index-content">
      <div class="flex">
        <div class="display-results"><%= @schools.count %>件中
          <% if (params[:page].nil?) || (params[:page] == "1")  %>
            <%= 1 %>
          <% else %>
            <%= (params[:page].to_i - 1) * 30 + 1 %>
          <% end %>
          -
          <% if (params[:page].nil?) || (params[:page] == "1")  %>
            <% if @schools.count.to_i < 30 %>
              <%= @schools.count %>件表示
            <% else %>
              30件表示
            <% end %>
          <% elsif @schools.count.to_i < (params[:page].to_i * 30) %>
            <%= @schools.count %>件表示
          <% else %>
            <%= (params[:page]).to_i * 30 %>件表示
          <% end %>
        </div>
        <div class="sort">
          <%= link_to '口コミ評価順', schools_path(signal: "review-score") %>
          |
          <%= link_to '口コミ数順', schools_path(signal: "review-count") %>
        </div>
      </div>

      <div class="schools-box">
        <% @schools.each do |school| %>
          <ul class="flex one-school-box">
            <li class="school-image-box flex">
              <% if school.image.attached? %>
                <%= link_to (image_tag school.image.variant(resize: '300x200!'), class: "school-icon", alt: "スクールアイコン"), school_path(school) %>
              <% else %>
                <%= link_to (image_tag src='default-school.jpg', class: "school-icon-default", alt: "スクールアイコン"), school_path(school) %>
              <% end %>
            </li>

            <div class="school-name-explanation-box">
              <li><%= link_to school.name, school_path(school)  %></li>
              <li><%= simple_format(school.explanation.truncate(40)) %></li>
            </div>

            <li class="school-evaluation-box flex">
              <ul>
                <li id='school-index-star-<%= school.id %>' class="stars"></li>
                <li><%= school.review_ave_score %></li>
                <% if school.review_count.nil? %>
                  <li>
                    <%= link_to "口コミ: 0件", new_review_path %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to "口コミ: #{ school.review_count }件", school_path(school) %>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
          <script>
            window.addEventListener("turbolinks:load", function(){
              $('#school-index-star-<%= school.id %>').empty();

              $('#school-index-star-<%= school.id %>').raty({
                size      : 36,
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half      : true,
                readOnly: true,
                score: '<%= school.review_ave_score %>'
              });
            });
          </script>
        <% end %>
      </div>
      <% unless (will_paginate @schools).nil? %>
        <div class="paginate">
          <%= will_paginate @schools, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
        </div>
      <% end %>
      <%= link_to "プログラミングスクールを追加する", new_school_path, class: "button" %>
    </div>
  </div>
  <span id="top-btn">
    <a href="#">
      <%= image_tag asset_path('top_btn.png'), class: 'top-btn' %>
    </a>
  </span>
</div>
