<%= provide(:title, "プログラミングスクール一覧")%>
<div class="background-blue">
  <%= render 'school_index_page_link' %>
  <%= render 'shared/flash_message' %>
  <div class="school-index">
    <%= link_to "スクール追加", new_school_path(school_new_params: "school_index"), class: "button" %>
    <div class="school-index-content">
      <%= render partial: 'school_index_nav', locals: { schools: @schools } %>
      <%= render partial: 'school_index_schools_box', locals: { schools: @schools } %>
      <% unless (will_paginate @schools).nil? %>
        <div class="paginate">
          <%= will_paginate @schools, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
        </div>
      <% end %>
      <%= link_to "プログラミングスクールを追加する", new_school_path(school_new_params: "school_index"), class: "button" %>
    </div>
  </div>
</div>
<%= render 'school_index_select_change' %>
