<div class="background-blue">
  <div class="school-index">
    <div class="school-table-frame">
      < <%= link_to '検索画面に戻る', root_path, class: "link-underline" %>

        <h2>プログラミングスクール一覧 : <%= @schools.count %>件</h2>


        <%= link_to '口コミ評価順', schools_path(signal: "review-score") %>
        |
        <%= link_to '口コミ数順', schools_path(signal: "review-count") %>

      <table>
        <tbody>
          <tr class="school-table-head">
            <th class="school-table-number"></th>
            <th class="school-table-name">スクール名</th>
            <th class="school-table-score">口コミ評価</th>
            <th class="school-table-count">口コミ数</th>
          </tr>

          <% @schools.each.with_index(1) do |school, i| %>
            <tr>
              <td class="school-table-number">
                <% if (params[:page]).nil? %>
                  <%= i %>
                <% else %>
                  <%= (params[:page].to_i - 1) * 30 + i %>
                <% end %>
              </td>

              <td>
                <%= link_to school.name, school_path(school) %>
              </td>

              <% if school.review_ave_score == nil %>
                <td>なし</td>
              <% else %>
                <td><%= school.review_ave_score %>点</td>
              <% end %>

              <% if school.review_count == nil %>
                <td>0</td>
              <% else %>
                <td><%= school.review_count %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="paginate">
        <%= will_paginate :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
      </div>
      < <%= link_to '検索画面に戻る', root_path, class: "link-underline" %>
      <%= link_to new_school_path, class: "button" do %>
        プログラミングスクールを新規登録する
      <% end %>
    </div>
  </div>
</div>
