<%= form_with model: @school, local: true do |f| %>
  <div>
    <%= f.label :name, "スクール名" %>
    <%= f.text_field :name, placeholder: "スクール名を入力" %>
  </div>

  <div>
    <%= f.label :sytle, "学習形態" %>
    <%= f.select :style, ['通学', 'オンライン', '通学とオンライン'], { include_blank: '選択してください'} %>
  </div>

  <div>
    <%= f.label :support, "転職支援" %>
    <%= f.select :support, ['あり', 'なし'], { include_blank: '選択してください'} %>
  </div>

  <div>
    <%= f.label :guarantee, "転職保証" %>
    <%= f.select :guarantee, ['あり', 'なし'], { include_blank: '選択してください'} %>
  </div>

  <div>
    <%= f.label :explanation, "説明" %>
    <%= f.text_area :explanation, placeholder: "その他の説明を入力"%>
  </div>

  <div>
    <%= f.label :language_id, "学習言語" %>
    <%= f.collection_select(:language_id, Language.all, :id, :name, {}) %>
  </div>

  <div>
    <%= f.label :prefecture_id, "都道府県" %>
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}) %>
  </div>

  <div>
    <%= f.label :cost_id, "値段" %>
    <%= f.collection_select(:cost_id, Cost.all, :id, :range, {}) %>
  </div>

  <div>
    <%= f.label :period_id, "学習期間" %>
    <%= f.collection_select(:period_id, Period.all, :id, :range, {}) %>
  </div>

  <%= f.submit %>

<% end %>
<%= link_to "検索", root_path %>
