<div class="school-show background-blue">
  <div class="school-show-back-link">< <%= link_to '検索結果一覧に戻る', :back %></div>
  <div class="box">
    <h3><%= @school.name %></h3>

    <% if @school.image.attached? %>
      <%= image_tag @school.image.variant(resize: '100x100!'), class: "school-icon", alt: "スクールアイコン" %>
    <% else %>
      <%= image_tag src='default-school.jpg', class: "school-icon-default", alt: "スクールアイコン" %>
    <% end %>

    <%= form_with model: @school, local: true do |f| %>
      <div class="flex">
        <div class="school-form-flex-item">
          <ul class="school-form-flex-item-left">
            <li><%= f.label :name, "スクール名", class: "school-form-label" %></li>
            <li class="school-show-info"><%= @school.name %></li>
          </ul>

          <ul class="school-form-flex-item-left">
            <li><%= f.label :cost_id, "費用", class: "school-form-label"  %></li>
            <li class="school-show-info"><%= @school.cost.range %></li>
          </ul>

          <ul class="school-form-flex-item-left">
            <li><%= f.label :sytle, "学習形態", class: "school-form-label" %></li>
            <li class="school-show-info"><%= @school.style %></li>
          </ul>

          <ul class="school-form-flex-item-left">
            <li><%= f.label :support, "転職支援", class: "school-form-label" %></li>
            <li class="school-show-info"><%= @school.support %></li>
          </ul>
        </div>

        <div class="school-form-flex-item">
          <ul class="school-form-flex-item-right">
            <li><%= f.label :language_id, "学習言語", class: "school-form-label" %></li>
            <li class="school-show-info"><%= @school.language.name %></li>
          </ul>

          <ul class="school-form-flex-item-right">
            <li><%= f.label :period_id, "学習期間", class: "school-form-label" %></li>
            <li class="school-show-info"><%= @school.period.range %></li>
          </ul>

          <ul class="school-form-flex-item-right">
            <li><%= f.label :prefecture_id, "都道府県", class: "school-form-label" %></li>
            <li class="school-show-info"><%= @school.prefecture.name %></li>
          </ul>

          <ul class="school-form-flex-item-right">
            <li><%= f.label :guarantee, "転職保証", class: "school-form-label" %></li>
            <li class="school-show-info"><%= @school.guarantee %></li>
          </ul>
        </div>
      </div>
      <ul class="school-new-explanation">
        <li><%= f.label :explanation, "説明", class: "school-form-label" %></li>
        <li class="explanation"><%= @school.explanation %></li>
      </ul>
    <% end %>
  </div>
  <div class="school-show-edit-link-box">
    <%= link_to "#{@school.name}の情報を変更する", edit_school_path(@school, school_edit_params: @params) %>
  </div>
    <%= link_to "質問一覧", questions_path(school_id: @school.id) %>
</div>

<section id="school-show-review">
  <div class="school-show-review">
    <h3>口コミ一覧</h3>
    <div class="flex">
      <% @reviews.each do |review| %>
        <div class="school-show-review-box">
          <div><%= link_to review.name, review_path(review), class: "school-show-review-name" %></div>

          <ul>
            <li id='star-rate<%= review.id %>'></li>
            <li class="school-show-review-ave"><%= review.average_star %>点</li>
          </ul>

          <script>
            $('#star-rate<%= review.id %>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half      : true,
              readOnly: true,
              score: <%= ave_star(review) %>
            });
          </script>
        </div>
      <% end %>
    </div>
  <%= link_to "口コミを投稿する", new_review_path, class: "button" %>
  </div>
</section>
