<%= provide(:title, "#{@school.name}の口コミ一覧")%>
<div class="school-show background-blue">
  <%= render partial: 'school_show_page_link', locals: { params: @params } %>
  <%= render 'shared/flash_message' %>
  <section class="school-header">
    <div class="school-header-content flex">
      <div class="school-image-box">
        <% if @school.image.attached? %>
          <%= image_tag @school.image.variant(resize: '300x200!'), class: "school-icon", alt: "スクールアイコン" %>
        <% else %>
          <%= image_tag src='default-school.jpg', class: "school-icon-default", alt: "スクールアイコン" %>
        <% end %>
      </div>
      <div class="school-name-explanation-box">
        <p class="school-header-name"><%= @school.name %></p>
        <div class="school-header-explanation">
          <%= simple_format(@school.explanation) %>
        </div>
      </div>
      <div class="school-evaluation-box">
        <ul>
          <div class="responsive-flex">
            <% unless @school.review_ave_score.nil? %>
              <li id='school-show-header-star-<%= @school.id %>' class="stars"></li>
              <li class="ave"><%= @school.review_ave_score %></li>
            <% end %>
          </div>
          <% if @school.review_count.nil? %>
            <li>口コミ: 0件</li>
            <%= link_to "口コミを書く", new_review_path, class: "button blue" %>
          <% else %>
            <li><%= "口コミ: #{ @school.review_count }件" %></li>
          <% end %>
          <% unless @school.site_address.blank? %>
            <li>
              <%= link_to "公式サイトへ", "#{@school.site_address}", target: :_blank, rel: "noopener noreferrer", class: "button" %>
            </li>
          <% end %>
        </ul>
        <script>
          window.addEventListener("turbolinks:load", function(){
            $('#school-show-header-star-<%= @school.id %>').empty();

            $('#school-show-header-star-<%= @school.id %>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half      : true,
              readOnly: true,
              score: '<%= @school.review_ave_score %>'
            });
          });
        </script>
      </div>
    </div>
  </section>
  <section class="school-detail">
    <div class="review-and-question-link">
      <%= link_to "口コミ一覧", { anchor: "review" } %>
      <%= link_to "質問一覧", questions_path(school_id: @school.id, question_index_params: @params) %>
    </div>
    <h2><%= @school.name %>の情報</h2>
    <div class="school-show-school-box schools-box">
      <table>
        <tbody>
          <tr>
            <th><i class="fa fa-pencil" aria-hidden="true"></i>学習言語</th>
            <td><%= @school.language.name %></td>
          </tr>
          <tr>
            <th><i class="fa fa-money" aria-hidden="true"></i>費用</th>
            <td><%= @school.cost.range %></td>
          </tr>
          <tr>
            <th><i class="fa fa-calendar" aria-hidden="true"></i>学習期間</th>
            <td><%= @school.period.range %></td>
          </tr>
          <tr>
            <th><i class="fa fa-television" aria-hidden="true"></i>学習形態</th>
            <td>
              <% if @school.style.blank? %>
                ---
              <% else %>
                <%= @school.style %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th><i class="fa fa-map-marker" aria-hidden="true"></i>都道府県</th>
            <td><%= @school.prefecture.name %></td>
          </tr>
          <tr>
            <th><i class="fa fa-user-o" aria-hidden="true"></i>転職支援</th>
            <td>
              <% if @school.support.blank? %>
                ---
              <% else %>
                <%= @school.support %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th><i class="fa fa-handshake-o" aria-hidden="true"></i>転職保証</th>
            <td>
              <% if @school.guarantee.blank? %>
                ---
              <% else %>
                <%= @school.guarantee %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <% unless @school.site_address.blank? %>
        <%= link_to "公式サイトへ", "#{@school.site_address}", target: :_blank, rel: "noopener noreferrer", class: "button" %>
      <% end %>
    </div>
    <%= link_to "#{@school.name}の情報を変更する", edit_school_path(@school, school_edit_params: @params), class: "school-show-edit-link" %>

    <div class="school-show-review">
      <h2 id ="review"><%= @school.name %>の口コミ</h2>
      <div class="flex">
        <% @reviews.each do |review| %>
          <div class="school-show-review-box schools-box">
            <%= link_to review_path(review, review_show_params: @params) do %>
              <div class="school-show-review-name hover-underline">
                <i class="fa fa-comments-o" aria-hidden="true"></i>
                <%= review.name %>
              </div>

              <% unless review.average_star.nil? %>
                <ul>
                  <li id='school-show-review-star-<%= review.id %>'></li>
                  <li class="school-show-review-ave ave"><%= review.average_star %></li>
                </ul>
              <% end %>

              <div class="school-show-review-thought">
                <%= simple_format(review.thought.truncate(40)) %>
              </div>

              <script>
                window.addEventListener("turbolinks:load", function(){
                  $('#school-show-review-star-<%= review.id %>').empty();
                  $('#school-show-review-star-<%= review.id %>').raty({
                    size      : 36,
                    starOff   : '<%= asset_path('star-off.png') %>',
                    starOn    : '<%= asset_path('star-on.png') %>',
                    starHalf: '<%= asset_path('star-half.png') %>',
                    half      : true,
                    readOnly: true,
                    score: '<%= ave_star(review) %>'
                  });
                });
              </script>
            <% end %>
            <p class="school-show-review-time"><%= review.updated_at.to_s(:datetime_jp) %></p>
          </div>
        <% end %>
      </div>
      <%= link_to "口コミを投稿する", new_review_path(review_new_params: @params || "only_school_show", school_id: @school.id), class: "button" %>
    </div>
  </section>
  <span id="top-btn">
    <a href="#">
      <%= image_tag asset_path('top_btn.png'), class: 'top-btn' %>
    </a>
  </span>
<div>
