<%= @school.name %>
<%= @school.style %>
<%= @school.language.name %>
<%= @school.prefecture.name %>
<%= @school.cost.range %>
<%= @school.period.range %>
<%= @school.support %>
<%= @school.guarantee %>
<%= @school.explanation %>

<% @reviews.each do |review| %>
  <p>
    <%= link_to review.name, review_path(review) %>

    <%= ave_star(review) %>

    <div id='star-rate<%= review.id %>'></div>
    <script>
      $('#star-rate<%= review.id %>').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half      : true,
        readOnly: true,
        score: <%= ave_star(review) %>
      });
    </script>
  </p>
<% end %>
