<%= provide(:title, "#{@review.school.name}の口コミ編集")%>
<div class="review-edit background-blue">
  <%= render partial: 'review_edit_page_link', locals: { params: @params, review: @review } %>
  <%= render 'shared/flash_message' %>
  <div class="review-and-question-box">
    <div class="review-and-question-box-content">
      <h2>口コミ編集</h2>
      <%= form_with model: @review, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="review-and-question-content-border">
          <ul class="flex school-name-flex">
            <li class="review-and-question-label">
              <%= f.label :school_id, "スクール名" %><span class="badge">必須</span>
            </li>
            <li class="review-name-label review-and-question-input-field"><%= f.collection_select(:school_id, School.all, :id, :name, include_blank: '選択してください') %></li>
          </ul>
        </div>

        <div class="review-and-question-content-border">
          <ul class="flex review-name-flex">
            <li class="review-and-question-label">
              <%= f.label :name, "口コミタイトル" %><span class="badge">必須</span>
            </li>
            <li class="review-and-question-input-field"><%= f.text_field :name, placeholder: "口コミタイトルを入力" %></li>
          </ul>
        </div>

        <div class="review-and-question-content-border">
          <ul>
            <%= f.hidden_field :curriculum_star, id: "edit-curriculum-star" %>
            <div class="flex">
              <li class="review-and-question-label"><%= f.label :curriculum_star,'カリキュラム内容' %></li>
              <li id="curriculum_star" class="review-and-question-input-field"></li>
            </div>
            <li><%= f.text_area :curriculum, class: "resize7" %></li>
          </ul>
        </div>

        <div class="review-and-question-content-border">
          <ul>
            <%= f.hidden_field :support_star, id: "edit-support-star" %>
            <div class="flex">
              <li class="review-and-question-label"><%= f.label :support_star,'サポート体制' %></li>
              <li id="support_star" class="review-and-question-input-field"></li>
            </div>
            <li><%= f.text_area :support, class: "resize7" %></li>
          </ul>
        </div>

        <div class="review-and-question-content-border">
          <ul>
            <%= f.hidden_field :teacher_star, id: "edit-teacher-star" %>
            <div class="flex">
              <li class="review-and-question-label"><%= f.label :teacher_star,'講師' %></li>
              <li id="teacher_star" class="review-and-question-input-field"></li>
            </div>
            <li><%= f.text_area :teacher, class: "resize7" %></li>
          </ul>
        </div>

        <div class="review-and-question-content-border">
          <ul>
            <%= f.hidden_field :compatibility_star, id: "edit-compatibility-star" %>
            <div class="flex">
              <li class="review-and-question-label"><%= f.label :compatibility_star, '両立しやすさ' %></li>
              <li id="compatibility_star" class="review-and-question-input-field"></li>
            </div>
            <li><%= f.text_area :compatibility, class: "resize7" %></li>
          </ul>
        </div>

          <ul class="review-thought">
            <li class="review-and-question-label">
              <%= f.label :thought,'感想/アドバイス' %><span class="badge">必須</span>
            </li>
            <li><%= f.text_area :thought, class: "resize7" %></li>
          </ul>

        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= hidden_field_tag :hidden_school_id, @review.school.id %>

        <div class="review-and-question-button">
          <%= f.submit '変更する', class: "submit-button" %>
          <%= link_to "戻る", review_path(@review), class: "button" %>
          <%= link_to "削除する", review_path(@review), method: :delete, data: {confirm: "口コミを削除しますか？"}, class: "delete-button hover-underline" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- 評価javascript -->

<script>
  window.addEventListener("turbolinks:load", function(){
    $('#curriculum_star').empty();
    $('#curriculum_star').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',

      scoreName: 'review[curriculum_star]',
      half: true
    });
  });
</script>

<script>
  if (<%= @review.curriculum_star %> != null) {
    window.addEventListener("turbolinks:load", function(){
      $('#curriculum_star').empty();
      $('#curriculum_star').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half      : true,
        score: '<%= @review.curriculum_star %>',
        scoreName: 'review[curriculum_star]'
      })
    })
  }
</script>

<script>
  window.addEventListener("turbolinks:load", function(){
    $('#support_star').empty();

    $('#support_star').raty({
      size      : 36,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',

      scoreName: 'review[support_star]',
      half      : true
    });
  });
</script>

<script>
  if (<%= @review.support_star %> != null) {
    window.addEventListener("turbolinks:load", function(){
      $('#support_star').empty();

      $('#support_star').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half      : true,
        score: '<%= @review.support_star %>',
        scoreName: 'review[support_star]'
      });
    });
  }
</script>

<script>
  window.addEventListener("turbolinks:load", function(){
    $('#teacher_star').empty();

    $('#teacher_star').raty({
      size      : 36,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',

      scoreName: 'review[teacher_star]',
      half      : true
    });
  });
</script>

<script>
  if (<%= @review.teacher_star %> != null) {
    window.addEventListener("turbolinks:load", function(){
      $('#teacher_star').empty();

      $('#teacher_star').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half      : true,
        score: '<%= @review.teacher_star %>',
        scoreName: 'review[teacher_star]'
      });
    });
  }
</script>

<script>
  window.addEventListener("turbolinks:load", function(){
    $('#compatibility_star').empty();

    $('#compatibility_star').raty({
      size      : 36,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',

      scoreName: 'review[compatibility_star]',
      half      : true
    });
  });
</script>

<script>
  if (<%= @review.compatibility_star %> != null) {
    window.addEventListener("turbolinks:load", function(){
      $('#compatibility_star').empty();

      $('#compatibility_star').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half      : true,
        score: '<%= @review.compatibility_star %>',
        scoreName: 'review[compatibility_star]'
      });
    });
  }
</script>
