<%= provide(:title, "#{@review.school.name}の口コミ編集")%>
<div class="review-edit background-blue">
  <%= render partial: 'review_edit_page_link', locals: { params: @params, review: @review } %>
  <%= render 'shared/flash_message' %>
  <%= render partial: 'review_edit_review_box', locals: { review: @review } %>
</div>
<%= render partial: 'review_edit_star', locals: { review: @review } %>
