<%= provide(:title, "口コミ投稿")%>
<div class="review-new background-blue">
  <%= render partial: 'review_new_page_link', locals: { params: @params, school: @school } %>
  <%= render 'shared/flash_message' %>
  <%= render partial: 'review_new_review_box', locals: { review: @review, params: @params } %>
</div>
<%= render partial: 'review_new_star' %>
