<%= provide(:title, "#{@review.school.name}の口コミ詳細")%>
<div class="review-show background-blue">
  <%= render partial: 'review_show_page_link', locals: { params: @params, review: @review } %>
  <%= render 'shared/flash_message' %>
  <%= render partial: 'review_show_review_box', locals: { params: @params, review: @review } %>
</div>
<%= render partial: 'review_show_star', locals: { review: @review } %>
