<div class="review-show background-blue">
  <div class="review-box">
    <div class="review-box-content">
      <h3><%= @review.name %></h3>
      <%= form_with model: @review, local: true do |f| %>

        <div class="review-content-border">
          <ul class="flex">
            <li><%= f.label :school_id, "スクール名" %></li>
            <li class="review-school-name"><%= @review.school.name %></li>
          </ul>
        </div>

        <div class="review-content-border">
          <ul>
            <div class="flex">
              <li><%= f.label :curriculum_star,'カリキュラム内容' %></li>
              <li id="curriculum-star-rate"></li>
              <li class="review-show-star"><%= @review.curriculum_star %>点</li>
            </div>
            <li class="review-show-text"><%= @review.curriculum %></li>
          </ul>
        </div>

        <div class="review-content-border">
          <ul>
            <div class="flex">
              <li><%= f.label :support_star,'サポート体制' %></li>
              <li id="support-star-rate"></li>
              <li class="review-show-star"><%= @review.support_star %>点</li>
            </div>
            <li class="review-show-text"><%= @review.support %></li>
          </ul>
        </div>

        <div class="review-content-border">
          <ul>
            <div class="flex">
              <li><%= f.label :teacher_star,'講師' %></li>
              <li id="teacher-star-rate"></li>
              <li class="review-show-star"><%= @review.teacher_star %>点</li>
            </div>
            <li class="review-show-text"><%= @review.teacher %></li>
          </ul>
        </div>

        <div class="review-content-border">
          <ul>
            <div class="flex">
              <li><%= f.label :compatibility_star, '両立しやすさ' %></li>
              <li id="compatibility-star-rate"></li>
              <li class="review-show-star"><%= @review.compatibility_star %>点</li>
            </div>
            <li class="review-show-text"><%= @review.compatibility %></li>
          </ul>
        </div>

        <div class="review-content-border">
          <ul>
            <li class="review-show-ave-label"><%= f.label '総合満足度' %></li>
            <div class="flex review-show-ave-box">
              <li id="ave-star-rate"></li>
              <li class="review-show-star"><%= @review.average_star %>点</li>
            </div>
          </ul>
        </div>

        <ul>
          <li><%= f.label :thought,'感想/アドバイス' %></li>
          <li class="review-show-text"><%= @review.thought %></li>
        </ul>

        <div class="review-button">
          <% if user_signed_in? && (current_user == @review.user) %>
            <%= link_to "編集する", edit_review_path(@review), class: "button edit-button" %>
          <% end %>
          <%= link_to "戻る", school_path(@review.school), class: "button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- 評価javascript -->

<script>
  window.addEventListener("turbolinks:load", function(){
    $('#curriculum-star-rate').empty();

    $('#curriculum-star-rate').raty({
      size      : 36,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half      : true,
      readOnly: true,
      score: <%= @review.curriculum_star %>
    });
  });
</script>

<script>
  window.addEventListener("turbolinks:load", function(){
    $('#support-star-rate').empty();

    $('#support-star-rate').raty({
      size      : 36,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half      : true,
      readOnly: true,
      score: <%= @review.support_star %>
    });
  });
</script>

<script>
  window.addEventListener("turbolinks:load", function(){
    $('#teacher-star-rate').empty();

    $('#teacher-star-rate').raty({
      size      : 36,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half      : true,
      readOnly: true,
      score: <%= @review.teacher_star %>
    });
  });
</script>

<script>
  window.addEventListener("turbolinks:load", function(){
    $('#compatibility-star-rate').empty();

    $('#compatibility-star-rate').raty({
      size      : 36,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half      : true,
      readOnly: true,
      score: <%= @review.compatibility_star %>
    });
  });
</script>

<script>
  window.addEventListener("turbolinks:load", function(){
    $('#ave-star-rate').empty();

    $('#ave-star-rate').raty({
      size      : 36,
      starOff   : '<%= asset_path('star-off.png') %>',
      starOn    : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half      : true,
      readOnly: true,
      score: <%= @review.average_star %>
    });
  });
</script>
