<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <div class="content">
      <%= render 'shared/header_hidden' %>
      <%= render 'shared/header', q: @q %>
      <div class="main-content">
        <%= yield %>
        <%= render 'shared/top_btn' %>
      </div>
      <%= render 'shared/footer' %>
    </div>
    <script src="https://unpkg.com/vue@3.1.5"></script>
  </body>
</html>
